<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>team</key>
		<string>Manchester United F.C.</string>
		<key>manager</key>
		<string>Louis van Gaal</string>
		<key>logoImage</key>
		<string>mu-logo</string>
	</dict>
	<dict>
		<key>team</key>
		<string>Arsenal</string>
		<key>manager</key>
		<string>Arsène Wenger</string>
		<key>logoImage</key>
		<string>arsenal-logo</string>
	</dict>
	<dict>
		<key>team</key>
		<string>Liverpool F.C.</string>
		<key>manager</key>
		<string>Jürgen Klopp</string>
		<key>logoImage</key>
		<string>liverpool-logo</string>
	</dict>
</array>
</plist>
